<section class="text-gray-400 bg-gray-900 body-font">
    <div class="container px-5 py-24 mx-auto pb-3">
      <div class="flex flex-col text-center w-full mb-20">
        <h1 class="sm:text-4xl text-3xl font-medium title-font mb-2 text-white">Employees List</h1>
        <p class="lg:w-2/3 mx-auto leading-relaxed text-base">Here you can see all the employees</p>
      </div>
      <div class="lg:w-2/3 w-full mx-auto overflow-auto">
        <table class="table-auto w-full text-left whitespace-no-wrap">
          <thead>
            <tr>
              <th class="px-4 py-3 title-font tracking-wider font-medium text-white text-sm bg-gray-800 rounded-tl rounded-bl">First Name</th>
              <th class="px-4 py-3 title-font tracking-wider font-medium text-white text-sm bg-gray-800">Last Name</th>
              <th class="px-4 py-3 title-font tracking-wider font-medium text-white text-sm bg-gray-800">Email</th>
              <th class="px-4 py-3 title-font tracking-wider font-medium text-white text-sm bg-gray-800">Action</th>
            </tr>
          </thead>
          <tbody>      
                @for (employee of employees; track employee.id){
                    <tr >
                            <td class="border-t-2 border-gray-800 px-4 py-3">{{employee.firstName}}</td>
                            <td class="border-t-2 border-gray-800 px-4 py-3">{{employee.lastName}}</td>
                            <td class="border-t-2 border-gray-800 px-4 py-3">{{employee.email}}</td>
                            <td class="border-t-2 border-gray-800 px-4 py-3">
                              <button (click)="updateEmployee(employee.id)"
                               class="inline-flex items-center bg-gray-800 border-0 py-1 px-3 focus:outline-none
                                hover:bg-gray-700 rounded text-base md:mt-0">
                                Update
                              </button>
                              <button (click)="deleteEmployee(employee.id)"
                               class="inline-flex items-center bg-gray-800 border-0 py-1 px-3 focus:outline-none
                                hover:bg-gray-700 rounded text-base md:mt-0">
                                Delete
                              </button>
                            </td>
                    </tr>
                }
            <tr >
        </tbody>       
        </table>
        <button routerLink="/employees/create" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" ariaCurrentWhenActive="page" class="inline-flex items-center bg-gray-800 border-0 py-1 px-3 focus:outline-none hover:bg-gray-700 rounded text-base md:mt-0">Add Employee
        </button>
      </div>
     
    </div>
  </section>







